

/*===========Navigation Bar===========*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*html{*/
/*    height: 100%;*/
/*    font-size: 65.5%;*/
/*}*/
/*body{*/
/*    height: 100%;*/
/*    font-size: 1.6rem;*/
/*    font-family: sans-serif;*/
/*}*/
/*a {*/
/*    text-decoration: none;*/
/*}*/
/*.logo{*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-top: -37rem;*/
/*}*/
/*header{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 1000;*/
/*    width: 100%;*/
/*}*/
/*.nav {*/
/*    height: 10rem;*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    justify-content: space-between;*/
/*}*/
/*.nav-list{*/
/*    display: flex;*/
/*    list-style: none;*/
/*}*/
/*.nav-item {*/
/*    margin-right: 5rem;*/
/*}*/
/*.nav-item:last-child{*/
/*    margin-right: 0;*/
/*}*/
/*.nav-link {*/
/*    font-size: 1.2rem;*/
/*    text-transform: uppercase;*/
/*    color:black;*/
/*    transition: opacity .3s;*/

/*}*/
/*.nav-link:hover{*/
/*    opacity: .6;*/

/*}*/
/*.logo {*/
/*    display: block;*/
/*}*/

/*===========End Navigation Bar===========*/
/*===========Restaurant Information===========*/

.card-title{
    margin-top: 1em;
}

.col-md-4{
    margin-right: 2em;
}
ul {
    padding-right: 2em;
    margin-right: 1em;
}
/*===========End Restaurant Information===========*/
/*===========Image Logo===========*/

/*===========Image Logo===========*/
.card-img{
    webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 5px 5px rgba(0,0,0,0);

}
.card{
    webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: black solid;

}
.card-body{
    border: black solid;
    padding: 0em;
}
#information{
    webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
    border: solid black 2px;
    border-radius: 1em;
    margin-bottom: 2em;

}

/*===========Footing===========*/
.footer{
/*    border: solid black 2px;*/
/*    !*display: flex;*!*/
/*    !*justify-content:space-between;*!*/
/*    background: #F7FF0D;*/
/*    background: -moz-linear-gradient(-45deg, #ffd700 0%, #C7C7C7 71%, #bf0a30 100%);*/
/*    background: -webkit-linear-gradient(-45deg, #ffd700 0%, #C7C7C7 71%, #bf0a30 100%);*/
/*    background: linear-gradient(135deg, #ffd700 0%, #C7C7C7 71%, #bf0a30 100%);*/
/*    webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 5px 5px rgba(0,0,0,0);*/
/*    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 5px 0px #000000, 5px 5px 5px 5px rgba(0,0,0,0);*/
/*    margin: 1em;*/
/*    padding: 1em;*/
/*    border-radius: 1em;*/

    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position:relative;
    margin-top: 10px;
    clear: both;




}
/*.footer .footer-content{*/

/*    height: 350px;*/
/*    display: flex;*/
/*}*/
/*.footer .footer-content h1,*/
/*.footer .footer-content h2 {*/
/*    color: white;*/


/*}*/
/*.footer .footer-content .about h1 span {*/
/*    color: #F08080;*/

/*}*/
/*.footer .footer-content .about .contact span {*/
/*    display: block;*/
/*    font-size: 1.1em;*/
/*    margin-bottom: 8px;*/

/*}*/
/*.footer .footer-bottom {*/
/*    background-color: #343a40;*/
/*    color: #686868;*/
/*    height: 50px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    padding-top: 20px;*/

/*}*/

/*.footer .footer-content .footer-section {*/
/*    flex: 1;*/
/*    padding: 25px;*/




/*}*/
/*.footer .footer-content .about .socials a {*/
/*    border: 1px solid gray;*/
/*    width: 45px;*/
/*    height: 41px;*/
/*    padding-top: 5px;*/
/*    margin-right: 5px;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    font-size: 1.3rem;*/
/*    border-radius: 5px;*/
/*}*/
/*.footer .footer-content .about .socials a:hover {*/
/*    border: 1px solid white;*/
/*    color: white;*/

/*}*/
/*.socials i {*/
/*    color: #929FC5;*/
/*}*/

/*.footer .footer-content .links ul a {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    font-size: 1.2em;*/
/*    color: white;*/
/*    transition: all .3s;*/
/*}*/

/*.footer .footer-content .links ul a:hover {*/
/*    color: #F08080;*/
/*    margin-left: 15px;*/
/*    transition: all .3s;*/
/*}*/
/*.footer .footer-content .contact-form .contact-input{*/
/*    background-color: #27272727;*/
/*    color: white;*/
/*    margin-bottom: 10px;*/
/*    line-height: 1.5rem;*/
/*    padding: .9rem 1.4rem;*/
/*    border: none;*/
/*}*/
/*.footer .footer-content .contact-form .contact-input:focus{*/
/*    background-color: #1a1a1a;*/
/*}*/
/*.footer .footer-content .contact-form .contact-btn {*/
/*    float: right;*/
/*}*/
/*.btn {*/
/*    padding: .5rem 1rem;*/
/*    background-color: #F08080;*/
/*    color: white;*/
/*    border: 1px solid transparent;*/
/*    border-radius: .25rem;*/
/*}*/
/*.btn-big{*/
/*    padding: .7rem 1.3rem;*/
/*    line-height: 1.3rem;*/
/*    margin-right: 10rem;*/

/*}*/

/*===========End Of Footing===========*/


/*------------ text --------------*/
.col-md-4 {
    padding: 2em 2em;
}
body{
    background-image: linear-gradient(to bottom right,#00203FFF,#ADEFD1FF);;
}