.card-img {

    border: solid black;

    margin: 0.6rem;

}


@media(max-width:576px) {
    .card-img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media(min-width:576px) {
    .card-img {
        max-width: 250px;
        max-height: 250px;
    }

}


.card-header {

    font-size: 3rem;
    color: black;
    background-color: orange !important;
    text-align: center;
    border-radius: 0;

}

.card-title {
    background-color: steelblue;
    color: white;
    text-align: center;

}





p {
    display: inline-block;
    font-size: 1em;
}